#Database host. Change it if you are not using local host.
POSTGRES_HOST=127.0.0.1

# Database user name.
POSTGRES_USER=test_user

# Database user password.
POSTGRES_PASSWORD=test_password

# Database name.
POSTGRES_DB=test_db

#VK_API_TOKEN
API_TOKEN=

#Admins ids separated by comma.
ADMIN_IDS=



#Do not change values below.
POSTGRES_PORT=5432