# Database user name.
POSTGRES_USER=

# Database user password.
POSTGRES_PASSWORD=

# Database name.
POSTGRES_DB=

#VK_API_TOKEN
API_TOKEN=

#Admins ids separated by comma.
ADMIN_IDS=



#Do not change values below.
POSTGRES_HOST=postgres
POSTGRES_PORT=5432